.form-registration__section__text-area,
.form-registration__section__form{
    display: block;
    margin-top: 1rem;
    padding: .5rem;
    width: 100%;
}
.form-registration__section__text-area{
    resize: none;
}
