:root{
    --background-color: #f9f9f9;
    --back-side: #efefef;
    --shadow-color: rgba(12, 11, 11, 0.181);
    --main-color: #1792d2;
    --secondary-color: #6563ff;
    --third-heavyblue: #143774;
    --almost-black: #011113;
    --custom-gray: #707070;
    --custom-dark: #1F1F1F;
    --jscolor: #f6dd04;
    --htmlcolor: #f16524;
    --csscolor: #0076be;
}
html{
    background-color:var(--back-side);
}
*{box-sizing: border-box;}
.App_main{
    background-color: var(--background-color);
    border-radius: 1rem;
    border: 1px solid black;
    box-shadow: 0 0 5px 5px var(--shadow-color);
    margin: 0 auto;
    margin-top: 2%;
    overflow: hidden;
    width: 95%;
}

.App_main__div-holder{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 2rem;
}

/*.App_main__div-holder__section{}*/

.App_main__div-holder__section--NoteList{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

button{ 
    border: none;
    border-radius: 12px;
    color: var(--background-color);
    background-color: var(--main-color);
    padding: .4rem 1.5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 1.5rem;
    font-size: 1rem;
    box-shadow: 0 0 2px 2px var(--shadow-color);
    width: 100%;
    margin: .7rem 0
}


